body {
  background: linear-gradient(#3eb9de, #3a80de);
  background: linear-gradient(#3a80de, #3eb9de);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  padding: 15px 5px 0 5px;
  margin: 10px;
  background-color: white;
  cursor: grab;
}

.card__field {
  border: none;
  box-shadow: none;
  overflow-y: hidden;
  padding: 0;
  width: 92%;
  overflow-wrap: break-word;
  resize: none;
  outline: none;
  font-size: 1em;
  margin: 6px 10px 10px 10px;
}

.column {
  width: 28%;
  margin: 25px;
  background-color: #e5eff5;
  border-radius: 3px;
  height: 0%;
}

.column__add-card {
  padding: 0.25rem 0.5rem;
  font-size: 1.09375rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin: 3px;
}

.column__header {
  padding: 12px;
  margin-top: 0;
  cursor: default;
}

.dark {
  color: #ffffff;
  background-color: #6f6f6f;
}

.teal {
  color: #ffffff;
  background-color: #d1caa1;
}

.darkgreen {
  color: #ffffff;
  background-color: #d4d6b9;
}

.orange {
  color: #ffffff;
  background-color: #6717E;
}

svg[class*="fa-caret"] {
  cursor: pointer;
}

span[class*="Nav"] {
  color: lightgray;
}
