.board {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 20%;
  margin-left: 25px;
  margin-right: 25px;
}

.purple {
  color: #ffffff;
  background-color: #8e6e95;
}

.teal {
  color: #ffffff;
  background-color: #39a59c;
}

.darkgreen {
  color: #ffffff;
  background-color: #344759;
}

.orange {
  color: #ffffff;
  background-color: #e8741e;
}
